<div class="navbar">
  <app-navbar></app-navbar>
</div>


<div class="container">
  <div class="left">
    <p>Vous avez déjà utilisé BeautyConnect ?</p>

    <div class="form-container">
      <form>
        <h2>Se connecter</h2>
        <div class="form-group">
          <label>Email</label>
          <input type="email" placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input type="password" placeholder="Mot de passe" [(ngModel)]="password">
        </div>
        <button class="btn-login">Se connecter</button>
        <div class="line">
          <span class="line-text">ou</span>
        </div>
        <div class="new-account">
          <p>Nouveau sur BeautyConnect ?</p>
          
          <button class="btn-create-account">Créer un compte</button>
        </div>
      </form>
    </div>
  </div>

  <div class="right">
    <div class="carousel">
      <div class="img" *ngFor="let slide of slides; let i = index" [ngClass]="{'slide': true, 'active': i === currentSlideIndex}">
        <img [src]="slide.imageSrc" [alt]="slide.altText">
      </div>
      
    </div>
  </div>
  