<nav id="navbar">
    <div class="logo">
      <span class="logo-text">BEAUTY</span>
      <img src="assets/logo.png" alt="Logo" id="logo-image" />

      <span class="logo-text">CONNECT</span>
    </div>

  <ul class="navbar-menu">
    <li class="navbar-item">
      <a routerLink="/coiffeur" class="navbar-link">COIFFEUR</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/tatouer" class="navbar-link">TATOUER</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/perceur" class="navbar-link">PERCEUR</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/maquillage" class="navbar-link">MAQUILLAGE</a>
    </li>
  </ul>
  <div id="navbar-left">
    <button routerLink="/login" id="btn-login">Se connecter</button>
  </div>
</nav>
